@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;700&display=swap');

html, 
body {
  font-family: 'Montserrat', sans-serif;
}

li {
  font-weight: bold;
}

button {
  background: gray;
}

.app {
  background: gold;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

.header {
  background: orange;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}